@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="">
        <img src="https://elporta-bel.by/wp-content/uploads/2020/05/dveri-vhodnye.png" />
    </div>
</div>
